body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
  90deg,
  hsla(260, 75%, 95%, 1) 0%,
  hsla(195, 85%, 66%, 1) 50%,
  hsla(319, 90%, 59%, 1) 100%
);
}
.Home {
  background: linear-gradient(
    90deg,
    hsla(260, 75%, 95%, 1) 0%,
    hsla(195, 85%, 66%, 1) 50%,
    hsla(319, 90%, 59%, 1) 100%
  );
}
.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
.navbar {
  display: flex;
  justify-content: space-between;
  .logo {
    width: 60px;

    img {
      width: 120px;
    }
  }
  .page1 {
    margin-right: 120px;
  }
}
.container {
  display: flex;
  margin: 45px;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;

  li {
    list-style-type: none;
    margin-right: 20px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }

  li:hover {
    color: white;
  }
}
.Welcome {
  display: flex;
  justify-content: space-evenly;
  .photo {
    width: 60px;
    img {
      width: 150px;
      margin-left: -40px;
    }
  }
  .azzam {
    margin-top: 40px;
    margin-right: -20px;
    margin-left: -27px;
  }
  h2 {
    margin-top: -10px;
  }
  p {
    margin-top: -10px;
  }
}
.About {
  display: flex;
  background: linear-gradient(
    90deg,
    hsla(260, 75%, 95%, 1) 0%,
    hsla(195, 85%, 66%, 1) 50%,
    hsla(319, 90%, 59%, 1) 100%
  );
}
.kanan {
  margin-left: 50px;
}
.my {
  background: linear-gradient(
    90deg,
    hsla(260, 75%, 95%, 1) 0%,
    hsla(195, 85%, 66%, 1) 50%,
    hsla(319, 90%, 59%, 1) 100%
  );
  div.mys {
    font-size: 26px;
    font-weight: 600;
    margin-left: 45px;
  }
}
.Skills {
  background: linear-gradient(
    90deg,
    hsla(260, 75%, 95%, 1) 0%,
    hsla(195, 85%, 66%, 1) 50%,
    hsla(319, 90%, 59%, 1) 100%
  );
}
.skills {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    90deg,
    hsla(260, 75%, 95%, 1) 0%,
    hsla(195, 85%, 66%, 1) 50%,
    hsla(319, 90%, 59%, 1) 100%
  );
  margin-top: 15px;
  // chart
  @layer demo {
    #pie {
      width: 80px;
      --ng: 320deg;
      --thickness: 10px;
      --_inner: calc(70% - var(--thickness));
      --_outer: calc(var(--_inner) + 1px);
      mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));
      background-image: conic-gradient(#210cae, #4dc9e6 var(--ng), #0000 0);
    }
  }

  @layer demo.support {
    #pie {
      aspect-ratio: 1;
      inline-size: 50vmin;
      border-radius: 50%;
    }

    .chart {
      display: grid;
      place-items: center;
    }

    .chart > * {
      grid-area: 1/1;
    }

    .chart > h3 {
      font-variant-numeric: tabular-nums;
    }
  }

  @layer demo {
    #pai {
      width: 80px;
      --ng: 250deg;
      --thickness: 10px;
      --_inner: calc(70% - var(--thickness));
      --_outer: calc(var(--_inner) + 1px);
      mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));
      background-image: conic-gradient(#210cae, #4dc9e6 var(--ng), #0000 0);
    }
  }
  @layer demo.support {
    #pai {
      aspect-ratio: 1;
      inline-size: 50vmin;
      border-radius: 50%;
    }

    .chart {
      display: grid;
      place-items: center;
    }

    .chart > * {
      grid-area: 1/1;
    }

    .chart > h3 {
      font-variant-numeric: tabular-nums;
    }
  }

  @layer demo {
    #pei {
      width: 80px;
      --ng: 200deg;
      --thickness: 10px;
      --_inner: calc(70% - var(--thickness));
      --_outer: calc(var(--_inner) + 1px);
      mask: radial-gradient(circle, #0000 var(--_inner), #000 var(--_outer));
      background-image: conic-gradient(#210cae, #4dc9e6 var(--ng), #0000 0);
    }
  }
  @layer demo.support {
    #pei {
      aspect-ratio: 1;
      inline-size: 50vmin;
      border-radius: 50%;
    }

    .chart {
      display: grid;
      place-items: center;
    }

    .chart > * {
      grid-area: 1/1;
    }

    .chart > h3 {
      font-variant-numeric: tabular-nums;
    }
  }
}
.mya {
  div.myp {
    font-size: 26px;
    font-weight: 600;
    margin-left: 45px;
    margin-top: 15px;
  }
}
.Porto {
  background: linear-gradient(
    90deg,
    hsla(260, 75%, 95%, 1) 0%,
    hsla(195, 85%, 66%, 1) 50%,
    hsla(319, 90%, 59%, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-evenly;
  .masjid {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    img{
      width: 500px;
      height: 450px;
    }
  }
  .pahala {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    img{
      width: 500px;
      height: 450px;
    }
  }

  .abudzar {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    img{
      width: 500px;
      height: 450px;
    }
  }
  
  .design {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    img{
      width: 500px;
      height: 450px;
    }
  }
}
.buttom {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 10px;

  border: 20px;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 20px;
  color: white;
  background-color: #a4f0ff;

  a {
    text-decoration: none;
    color: #274c77;
  }
}
html {
  scroll-behavior: smooth;
}
footer {
  background: linear-gradient(
    90deg,
    hsla(260, 75%, 95%, 1) 0%,
    hsla(195, 85%, 66%, 1) 50%,
    hsla(319, 90%, 59%, 1) 100%
  );
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

