*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
#navigasi{
    background-color: #ff8f0c;
}
ul.list-navigasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b06107;
  padding: 1em;
}
ul.list-navigasi li {
  list-style-type: none;
  margin-right: 10px;
}
ul.list-navigasi li a {
  text-decoration: none;
  color: white;
}
ul.list-navigasi li a:hover {
  text-decoration: underline;
  color: #854a06;
}
button {
  border: none;
  background-color:red;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
}
button:hover {
  background-color: burlywood;
}
.icon-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  ul.list-navigasi {
    display: none;
  }
  .icon-menu {
    display: block;
  }
 
}