#nav {
  background-color: blue;
}

.container-nav {
  display: flex;
  background-color: antiquewhite;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-evenly;
}
li {
  background-color: chocolate;
}
.rule{
font-weight: 700;
font-size: 51px;
}
.help{
font-weight: 700;
font-size: 51px;
}
.collect{
font-weight: 700;
font-size: 23px;
}
.hero-img{
    background-color: cadetblue;
    width: 200px;
}
.hero-img img{
    width: 100%;
}
.container-hero{
    display: flex; 
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
#hero{
    background-color: blueviolet;
}
