:root{
    --azzam-color:red;
}
.container {
  background-color: red;

  .box2 {
    background-color:var(--azzam-color);
    .a:hover {
      background-color: cadetblue;
    }
  }

  .box {
    background-color: blue;
    .a:hover {
      background-color: burlywood;
    }
  }
}
